*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
1.png
2.png
3.png
animatorprogress/libs/
animatorprogress/src/main/res/anim/
app/libs/
